<header class="header">

    <a href="" class="logo">{{title}}</a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
        <li>
            <a routerLink="/hero-create" class="current">
                Create your Hero
            </a>
        </li>
        <li>
            <a routerLink="/dashboard">
                Top & Search
            </a>
        </li>
        <li>
            <a routerLink="/heroes">
                Hero Ranking
            </a>
        </li>
    </ul>
</header>
<!-- <div class="menu_bar">
        <div class="logo-resp"></div>
        <a href="#" class="btn-menu"><i class="fas fa-bars"></i></a>
    </div>

    <div class="menu">

        <div class="logo">
            <a href="#" class="top-heroes">
                <span class="icon-bug">{{title}}</span>
            </a>
        </div>

        <nav>
            <ul>
                <li>
                    <a routerLink="/hero-create" class="current">
                        Create your Hero
                    </a>
                </li>
                <li>
                    <a routerLink="/dashboard">
                        Top & Search
                    </a>
                </li>
                <li>
                    <a routerLink="/heroes">
                        Hero Ranking
                    </a>
                </li>
            </ul>
        </nav>
    </div> -->